In [6]:
import seaborn as sb
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as ptl

In [7]:
d=sb.load_dataset('diamonds')

In [8]:
d

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [9]:
#Q Number 1 
max_price = d['price'].max()
print("Price of the most expensive diamond is:" ,max_price)

Price of the most expensive diamond is: 18823

In [5]:
#Q Number 2
average_price = d['price'].mean()
print(f"average price: ${average_price:.2f}")

average price: $3932.80

In [8]:
#Q Number 3
Ideal_count = d[d['cut'] == 'Ideal'].shape[0]

print(f" The number of diamonds with an 'IDEAL' cut: {Ideal_count}")

 The number of diamonds with an 'IDEAL' cut: 21551

In [10]:
#Q number 4 
unique_colors = d['color'].unique()
num_colors = len(unique_colors)
print("The book of the different colors of diamonds:" ,num_colors)
print(f"The colors are  : {', '.join(unique_colors)}")

The book of the different colors of diamonds: 7
The colors are  : E, I, J, H, F, G, D

In [11]:
#Q number 5
premium_diamonds = d[d['cut'] == 'Premium']
median_carat = np.median(premium_diamonds['carat'])
print(f"The median carat for Premium diamonds is: {median_carat:.2f}")

The median carat for Premium diamonds is: 0.86

In [18]:
#Q number 6
average_carat_by_cut = d.groupby('cut')['carat'].mean().sort_values(ascending=False)
print("The average carat for each type of cut  :", average_carat_by_cut )

The average carat for each type of cut  : cut
Fair         1.046137
Premium      0.891955
Good         0.849185
Very Good    0.806381
Ideal        0.702837
Name: carat, dtype: float64

C:\Users\User\AppData\Local\Temp\ipykernel_28800\2566847765.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_carat_by_cut = d.groupby('cut')['carat'].mean().sort_values(ascending=False)

In [19]:
#Q number 7
average_price_by_color = d.groupby('color')['price'].mean().sort_values(ascending=False)
print(" Average price per color  :", average_price_by_color )

 Average price per color  : color
J    5323.818020
I    5091.874954
H    4486.669196
G    3999.135671
F    3724.886397
D    3169.954096
E    3076.752475
Name: price, dtype: float64

C:\Users\User\AppData\Local\Temp\ipykernel_28800\2462419985.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_price_by_color = d.groupby('color')['price'].mean().sort_values(ascending=False)